{
	"applications": {
		"example_php": {
			"type": "php",
			"processes": 2,
			"root": "/usr/share/doc/worker-php/examples/phpinfo-app",
			"index": "index.php"
		},

		"example_python": {
			"type": "python",
			"processes": 2,
			"path": "/usr/share/doc/worker-python/examples/python-app",
			"module": "wsgi"
		},

		"example_go": {
			"type": "external",
			"executable": "/tmp/go-app"
		}
	},

	"listeners": {
		"*:8300": {
			"pass": "applications/example_php"
		},

		"*:8400": {
			"pass": "applications/example_python"
		},

		"*:8500": {
			"pass": "applications/example_go"
		}
	}
}
